.MainDisplay {
    margin: 0;
}
.MainDisplay input {
    width: 70%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: inherit;
    color:#fff;
    outline: none;
    margin-left: 30px;
}  
    
button {
    width: 100px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 30px;
    background: #fae08b;
    outline: none;
    border: none;
    color: chocolate;
    }
.MainDisplay ul{
    padding: 0;
    margin-left: 30px;
    margin-top: 20px;
}
.MainDisplay li {
    list-style: none;
}
.MainDisplay .temp-style{
    font-weight: 500;
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 30px;
}
.units {
    font-size: 20px;
    position: relative;
    top: -52px;
    left: -2px;
}
.units a {
    text-decoration: none;
    color: #fff;
}
.active-unit a {
    text-decoration: none;
    color: #fae08b;
}
.weather-description {
    font-size: 40px;
    text-transform: capitalize;
}
.city-description {
    font-size: 25px;
}
.copyright {
    font-weight: 400;
    font-size: 14px;
    color: #282c34;
    text-align: center;
    background-color: #fff;
    margin-top: 0;
}


@media (max-width:579px) {
    .MainDisplay input {
        width: 60%;
        height: 50px; 
    }
    button {
         width: 70px;
         font-size: 15px;
    }
        
   .MainDisplay {
    max-width: 100%;
    }
    .MainDisplay ul,p, .weather-temperature {
        text-align: center;
    }
    .copyright{
        display: none;
    }

}